################################################################################
# This file is provisioned automatically - you have been warned :)
################################################################################

{% if extradomainforwards is defined %}
{% for forward in extradomainforwards %}
# HTTP Forwarder
server {
    listen {{ forward.port }};
    server_name {{ forward.forward_domain }};

    rewrite ^(.*) {{ forward.forward_to }} {{ forward.type }};
}
{% endfor %}
{% endif %}


{% for site in apps %}

{% if site.server_forwards is defined %}
# HTTP Forwarder {{ site.server_forwards }} => {{ site.server_name }}
server {
    listen {{ site.http_port }};
    server_name {{ site.server_forwards }};

    return 301 http://{{ site.server_name }}$request_uri;
}

{% endif %}

{% if site.docroot is defined %}
# HTTP Site {{ site.server_name }} => php-fpm
server {
  listen {{ site.http_port }};
  server_name {{ site.server_name }}{% if site.server_aliases is defined %} {{ site.server_aliases }}{% endif %};

  root {{ site.docroot }};
  access_log /var/log/nginx/http-{{ site.server_name }}-access.log main buffer=32k;
  error_log /var/log/nginx/http-{{ site.server_name }}-error.log;

  {% if nginx_disable_arbeit is not defined %}
  limit_conn arbeit 32;
  {% endif %}

  {% if app_dir_aliases is defined %}
  {% for alias in app_dir_aliases %}
  location {{ alias.path }} {
    alias {{ alias.target }};
  }
  {% endfor %}
  {% endif %}

  {% if basicauth_no_ssl_enabled == True %}

  satisfy  any;
  {% for ip in basicauth_ip %}
  allow {{ ip.address }};
  {% endfor %}
  deny   all;

  auth_basic "Restricted";
  auth_basic_user_file /etc/nginx/.htpasswd;

  {% endif %}

  {% if site.extra_forwards is defined %}
  {% for forward in site.extra_forwards %}
  rewrite {{ forward.forward_from_path }} {{ forward.forward_to }} {{ forward.type }};
  {% endfor %}
  {% endif %}

  ## See the blacklist.conf file at the parent dir: /etc/nginx.
  ## Deny access based on the User-Agent header.
  if ($bad_bot) {
    return 444;
  }
  ## Deny access based on the Referer header.
  if ($bad_referer) {
    return 444;
  }

  {% if site.custom_app is defined %}
  {{ site.custom_app }}
  {% else %}
  include conf.d/drupal.conf;
  include conf.d/php_fpm_status.conf;
  {% endif %}

  {% if site.extra_headers is defined %}
  # Extra headers.
  {% for header in site.extra_headers %}
  {% if header.location is defined %}
  location {{ header.location }} {
    include conf.d/fastcgi_drupal.conf;
    fastcgi_pass phpcgi;
    add_header {{ header.name }} {{header.value}};
  }
  {% else %}
  add_header {{ header.name }} {{header.value}};
  {% endif %}
  {% endfor %}
  {% endif %}
}

{% endif %}

{% endfor %}
