[elastic-{{ filebeat.version }}]
name=Elastic repository for {{ filebeat.version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ filebeat.version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md