filebeat.inputs:
{% for logfiles in filebeat.log_files %}
{% if ((logfiles.reqservice is not defined) or 
      (logfiles.reqservice is defined) and (logfiles.reqservice+'.service' in ansible_facts.services) and (ansible_facts.services[logfiles.reqservice+'.service'].state == "running") or
      (logfiles.reqservice is defined) and (logfiles.reqservice in ansible_facts.services) and (ansible_facts.services[logfiles.reqservice].state == "running")
      ) %}

- type: log
  paths:
{% for p in logfiles.paths %}
    - {{ p }}
{% endfor -%} 
{% if logfiles.include is defined %}
  include_lines: [{% for line in logfiles.include %}'{{ line }}',{% endfor %} ]
{% endif %}
{% if logfiles.exclude is defined %}
  exclude_lines: [{% for line in logfiles.exclude %}'{{ line }}',{% endfor %} ]
{% endif %}
{% if logfiles.multiline is defined %}
  multiline.pattern: '{{ logfiles.multiline.pattern }}'
  multiline.negate: {{ logfiles.multiline.negate }}
  multiline.match: {{ logfiles.multiline.match }}
{% endif %}
  fields:
    log_type: syslog
  fields_under_root: true
  # Start shipping only newly added lines
  tail_files: true
{% endif %}
{% endfor %}

{% if filebeat.custom_inputs_block is defined %}
{{ filebeat.custom_inputs_block }}
{% endif %}

filebeat.registry_file: /var/lib/filebeat/registry

#==================== End modules configuration ==========================
setup.template.settings:
  index.number_of_shards: 3

setup.kibana:
  # Kibana Host
  # Scheme and port can be left out and will be set to the default (http and 5601)
  # In case you specify and additional path, the scheme is required: http://localhost:5601/path
  # IPv6 addresses should always be defined as: https://[2001:db8::1]:5601
  host: {{ filebeat.escloud.host }}
 
cloud.id: {{ filebeat.escloud.cloud_id }}
cloud.auth: {{ filebeat.escloud.cloud_auth }}

output.elasticsearch:
  index: "filebeat-{{ hostname.stdout }}-%{[beat.version]}-%{+yyyy.MM}"
setup.template.name: "filebeat-%{[beat.version]}"
setup.template.pattern: "filebeat-%{[beat.version]}-*"

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~

logging.level: warning
