ansible==2.2.1.0
# Required for 'ipaddr' filter in ansible playbooks
netaddr==0.7.19
# Install upcloud-api from Wunder fork github master
git+git://github.com/UpCloudLtd/upcloud-python-api@master#egg=upcloud-api
