################################################################################
# This file is provisioned automatically - you have been warned :)
################################################################################

[client]
user=root
password={{ mariadb_root_password }}
