---

# Install composer and drush.

- name: Install composer
  shell: curl -sS https://getcomposer.org/installer | php && mv composer.phar /usr/bin/composer
    creates=/usr/bin/composer

- name: Make sure /usr/lib/composer exists
  action: file path=/usr/lib/composer state=directory

- name: Set up composer environment variables
  template: src=composer.sh.j2 dest=/etc/profile.d/composer.sh

- name: Install drush
  shell: source /etc/profile.d/composer.sh && cd /usr/lib/composer && composer update && composer global require drush/drush:{{ drush.version }} && drush
    creates=/usr/bin/drush
