# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: {{mongo_systemlog_destination}}
  logAppend: {{mongo_systemlog_append}}
  path: {{mongo_systemlog_path}}

# Where and how to store data.
storage:
  dbPath: {{mongo_storage_dbpath}}
  journal:
    enabled: {{mongo_storage_journal_enabled}}
#  engine:
#  mmapv1:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true  # fork and run in background
  pidFilePath: /var/run/mongodb/mongod.pid  # location of pidfile

# network interfaces
net:
  port: {{mongo_network_port}}
  bindIp: {{ mongo_network_interfaces | join(",") }}


#security:

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp:
