#!/bin/bash

################################################################################
# This file is provisioned automatically - you have been warned :)
################################################################################

{% if base_pubkeys_auth is defined %}
echo "$(curl -u {{ base_pubkeys_auth }} '{{ base_pubkeys_url }}')"
{% else %}
echo "$(curl '{{ base_pubkeys_url }}')"
{% endif %}
