#!/bin/bash

if true | openssl s_client -servername {{certbot_domains.0}} -connect {{certbot_domains.0}}:443 2>/dev/null | \
  openssl x509 -noout -checkend 2592000; then exit
else
  mkdir -p {{ certbot_renewal_docroot }}
  cd /root/certbot
  ./certbot-auto renew --rsa-key-size 4096 --webroot -w {{ certbot_renewal_docroot }}

  if [ $? -ne 0 ]
  then
        ERRORLOG=`tail /var/log/certbot/certbot.log`
        echo -e "The Let's Encrypt cert has not been renewed! \n \n" $ERRORLOG | mail -s "Let's Encrypt Alert:{% for domain in certbot_domains %} {{ domain }} /{% endfor %}" support@example.com
  else
        /usr/bin/systemctl reload nginx
  fi
fi

exit 0
