---

# Core system configurations; iptables, limits and the like.

# This is a requirement for Ansible which is often missing on servers
- yum:
    name=libselinux-python
    state=present

# Check if selinux is available
- stat: path="/etc/selinux/config"
  register: selinux_exists

- selinux: state=disabled
  when: selinux_exists.stat.exists

- name: disable network manager
  tags: networking
  service: name=network-manager state=stopped enabled=no
  ignore_errors: True

- service: name=ntpd state=started enabled=yes

# Operating system tweaks:
- replace:
    dest=/etc/security/limits.d/20-nproc.conf
    regexp='(\*\s+soft\s+nproc\s+)1024$'
    replace='\165536'
    backup=yes

- replace:
    dest=/etc/postfix/main.cf
    regexp='^inet_protocols = all$'
    replace='inet_protocols = ipv4'
    backup=yes

- lineinfile:
    dest=/etc/security/limits.conf
    line="*    soft    nofile    65535"
    backup=yes

- lineinfile:
    dest=/etc/security/limits.conf
    line="*    hard    nofile    65535"
    backup=yes

# Check if sysctl.conf exists
- stat: path="/etc/sysctl.conf"
  register: sysctl_exists

- action: file path=/etc/sysctl.conf state=touch owner=root group=root mode=0644
  when: not sysctl_exists.stat.exists

- lineinfile:
    dest=/etc/sysctl.conf
    line="fs.file-max = 65536"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="fs.inotify.max_user_watches = 1048576"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.core.somaxconn = 20000"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="vm.swappiness = 1"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="kernel.panic = 10"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.core.rmem_max = 16777216"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv4.tcp_rmem = 4096 87380 16777216"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.core.wmem_max = 16777216"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv4.tcp_wmem = 4096 16384 16777216"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv4.tcp_fin_timeout = {{ sysctl_tcp_fin_timeout }}"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv4.tcp_tw_reuse = 1"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.core.netdev_max_backlog = 10000"
    backup=yes

- lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv4.ip_local_port_range = 15000 65000"
    backup=yes

- lineinfile:
    dest=/etc/environment
    line="WKV_SITE_ENV={{ wkv_site_env }}"
    backup=yes

- lineinfile:
    dest=/etc/environment
    line="VARNISH_CONTROL_KEY={{ varnish.control_key }}"
    backup=yes
  when: varnish.control_key is defined

- lineinfile:
    dest=/etc/locale.conf
    line="LC_CTYPE=en_US.utf8"
    backup=yes

- lineinfile:
    dest=/etc/locale.conf
    line="LC_ALL=en_US.utf8"
    backup=yes

# Disable firewalld and make sure it stays off, we rely on HARDWARE firewalls.
- service: name=firewalld state=stopped
  when:
    disable_iptables == True
  ignore_errors: True

- shell: systemctl disable firewalld
  when:
    disable_iptables == True

# Copy logrotation definitions
- copy:
    src=logrotate/{{ item }}
    dest=/etc/logrotate.d/{{ item }}
  with_items:
    - drupal
    - nginx
    - php-fpm
    - syslog
  notify:
    - restart rsyslog
