#!/bin/bash

{% for db in backup_db_name %}
mkdir -p {{ backup_location }}/drupal/database/$(date +%y-%m-%d)
BACKUPDB={{ backup_location }}/drupal/database/$(date +%y-%m-%d)/{{ db }}-database-$(date +%H%M).sql
mysqldump -u root --skip-lock-tables --single-transaction --quick {{ db }} --ignore-table={{ db }}.cache_form --ignore-table={{ db }}.search_index > $BACKUPDB
mysqldump -u root --skip-lock-tables --single-transaction --quick -f -d {{ db }} cache_form search_index >> $BACKUPDB
gzip $BACKUPDB
{% endfor %}

# Remove more than 4 days old backups.
find {{ backup_location }}/drupal/database -mtime +4 -exec rm {} \;
find {{ backup_location }}/drupal/database -type d -empty -exec rmdir {} \;