################################################################################
# This file is provisioned automatically - you have been warned :)
################################################################################

vcl 4.0;

import std;
import directors;

{% for director in varnish.directors %}
{% for backend in director.backends %}
# {{ backend.name }} "{{ director.host }}" {{ backend.address }}:{{ backend.port }}
backend {{ backend.name }} {
  .host = "{{ backend.address }}";
  .port = "{{ backend.port }}";
  .max_connections = 300;

  .probe = {
    .request =
      {% if director.probe_resource_url is defined %}
      "GET /{{ director.probe_resource_url  }} HTTP/1.1"
      {% else %}
      "GET /{{ varnish.probe_resource_url | default('_ping.php') }} HTTP/1.1"
      {% endif %}
      "Host: {{ director.host }}"
      "Connection: close";

    .interval  = {{ varnish.probe_interval | default('5s') }}; # check the health of each backend every n seconds
    .timeout   = {{ varnish.probe_timeout| default('1s') }}; # timing out after n seconds
    .window    = {{ varnish.probe_window | default('5') }}; # If 3 out of the last 5 polls succeeded the backend is
    .threshold = {{ varnish.probe_threshold | default('3') }}; # considered healthy, otherwise it will be marked as sick
  }

  .first_byte_timeout     = {{ varnish.probe_first_byte_timeout | default('300s') }}; # How long to wait before we receive a first byte from our backend?
  .connect_timeout        = {{ varnish.probe_connect_timeout | default('10s') }}; # How long to wait for a backend connection?
  .between_bytes_timeout  = {{ varnish.probe_between_bytes_timeout | default('10s') }}; # How long to wait between bytes received from our backend?
}
{% endfor %}
{% endfor %}

# Define the internal network access.
# These are used below to allow internal access to certain files
# from trusted locations while not allowing access from the public internet.
acl internal {
  {% for internal in varnish.acl_internal %}
  "{{ internal.ip }}";
  {% endfor %}
}

{% if varnish.acl_purge is defined %}
# Define the purge network access.
# These are used below to allow cache purging via BAN.
acl purge {
  {% for purge in varnish.acl_purge %}
  "{{ purge.ip }}";
  {% endfor %}
}
{% endif %}

# List of upstream proxies we trust to set X-Forwarded-For correctly.
acl upstream_proxy {
  {% for upstream_proxy in varnish.acl_upstream_proxy %}
  "{{ upstream_proxy.ip }}";
  {% endfor %}
}

sub vcl_init {
  # Called when VCL is loaded, before any requests pass through it.
  # Typically used to initialize VMODs.
  {% for director in varnish.directors %}
    new {{ director.name }} = directors.{{ director.type | default('hash') }}();
    {% for backend in director.backends %} 
      # Note that the order in which adding is done matters for fallback director
      {% if backend.ignore is not defined %}
        {% if director.type is defined and director.type == 'fallback' %}
          {{ director.name }}.add_backend({{ backend.name }});
        {% else %}
          {{ director.name }}.add_backend({{ backend.name }}, 1);
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  # Extra directors
}

# Backend placeholder

sub vcl_recv {
  # Called at the beginning of a request, after the complete request has been received and parsed.
  # Its purpose is to decide whether or not to serve the request, how to do it, and, if applicable,
  # which backend to use.
  # also used to modify the request

  if (req.url == "/monit-check-url-happy") {
    return (synth(200, "Varnish up"));
  }

  # Only allow BAN requests from IP addresses in the 'purge' ACL.
  if (req.method == "BAN") {
    # Same ACL check as above:
    {% if varnish.acl_purge is defined %}
    if (!client.ip ~ purge) {
        return (synth(403, "Not allowed."));
    }
    {% endif %}

    # Logic for the ban, using the cache tags headers. For more info
    # see https://github.com/geerlingguy/drupal-vm/issues/397.
    if (req.http.X-Drupal-Cache-Tags) {
        ban("obj.http.X-Drupal-Cache-Tags ~ " + req.http.X-Drupal-Cache-Tags);
    }
    elseif (req.http.Cache-Tags) {
        ban("obj.http.Cache-Tags ~ " + req.http.Cache-Tags);
    }
    else {
        return (synth(403, "Cache tags headers not present."));
    }
    # Throw a synthetic page so the request won't go to the backend.
    return (synth(200, "Ban added."));
  }

  {% if varnish.client_ip_sticky_session %}
  #Use client ip as seed for backend.
  set req.http.sticky = client.ip;
  {% else %}
  # Set sticky session identifier based on session.
  if(req.http.Cookie ~ "(SESS[a-z0-9]+)") {
    set req.http.X-Session-String = regsub( req.http.Cookie, "^.*?(SESS[a-z0-9]+=)([^;]*);*.*$", "\2" );
    set req.http.sticky = req.http.X-Session-String;
  } else {
    set req.http.sticky = std.random(1, 100);
  }
  {% endif %}

  {% if varnish.hotlink_forbidden %}
  # Call hotlink prevention sub.
  call hotlink;
  {% endif %}

  # Send traffic to the correct site director, determined by request domain name.
  if (req.http.host == "") {
    return (synth(404, "Need a host header"));
  }
  {% for director in varnish.directors %}
  elsif (req.http.host ~ "{{ director.host }}"){
    {% if director.type is defined and director.type == 'fallback' %}
      set req.backend_hint = {{ director.name }}.backend();
    {% else %}
      set req.backend_hint = {{ director.name }}.backend(req.http.sticky);
    {% endif %}
  }
  {% endfor %}
  else {
    return (synth(404, "No host was matched to any of the backend directors."));
  }

  # Add a unique header containing the client address
  if (client.ip ~ upstream_proxy && req.http.X-Forwarded-For) {
    set req.http.X-Forwarded-For = req.http.X-Real-IP;
  } else {
    set req.http.X-Forwarded-For = client.ip;
  }

  # Only deal with "normal" types
  if (req.method != "GET" &&
      req.method != "HEAD" &&
      req.method != "PUT" &&
      req.method != "POST" &&
      req.method != "TRACE" &&
      req.method != "OPTIONS" &&
      req.method != "PATCH" &&
      req.method != "DELETE") {
    /* Non-RFC2616 or CONNECT which is weird. */
    return (pipe);
  }

  # Implementing websocket support (https://www.varnish-cache.org/docs/4.0/users-guide/vcl-example-websockets.html)
  if (req.http.Upgrade ~ "(?i)websocket") {
    return (pipe);
  }

  # Slow connections with big file uploads may lead to 503 errors, regardless of timeout
  # settings. We can avoid problems by piping those POST uploads.
  # More info: https://www.varnish-cache.org/lists/pipermail/varnish-bugs/2011-April/003684.html
  # Unresolved ticket : https://www.varnish-cache.org/trac/ticket/849
  if (req.method == "POST" && req.http.Content-Type ~ "multipart/form-data") {
    return (pipe);
  }

  # Only cache GET or HEAD requests. This makes sure the POST requests are always passed.
  if (req.method != "GET" && req.method != "HEAD") {
    return (pass);
  }

  // No varnish for ping file (for monitoring tools)
  if (req.url ~ "{{ varnish.probe_resource_url }}") {
    return (pass);
  }

  {% for director in varnish.directors %}
    {% if director.probe_resource_url is defined %}
    if (req.url ~ "/{{ director.probe_resource_url }}") {
      return (pass);
    }
    {% endif %}
  {% endfor %}

  {% if varnish.recv_pre_conditions is defined %}
  # Conditions specified by variables:
  {% for condition in varnish.recv_pre_conditions %}
  if ({{ condition.property }} {{ condition.operator }} "{{ condition.value }}") {
     {{ condition.action }}
  }
  {% endfor %}
  {% endif %}

  if (req.url ~ "^/(?:user|admin|cart|checkout|logout|abuse|flag|.*\?rate=)" && req.http.user-agent ~ "(?:crawl|goog|yahoo|spider|bot|Yandex|bing|tracker|click|parser|ltx71|urllib)") {
    return (synth( 403, "Forbidden"));
  }

  if (req.url ~ "\.(png|gif|jpg|tif|tiff|ico|swf|css|js|pdf|doc|xls|ppt|zip)(\?.*)?$") {
    // Forcing a lookup with static file requests
    return (hash);
  }

  # Do not allow public access to cron.php , update.php 
  # or install.php or core/install.php.
  if (req.url ~ "^/(cron|install|update|core/install)\.php$" && !client.ip ~ internal) {
    # Have Varnish throw the error directly.
    return (synth( 404, "Page not found."));
  }

  # Do not cache these paths.
  if (req.url ~ "^/update\.php$" ||
      req.url ~ "^/install\.php$" ||
      req.url ~ "^/cron\.php$" ||
      req.url ~ "^/ooyala/ping$" ||
      req.url ~ "^/admin/build/features" ||
      req.url ~ "^/info/.*$" ||
      req.url ~ "^/flag/.*$" ||
      //req.url ~ "^.*/ajax/.*$" ||
      //req.url ~ "^.*/ahah/.*$" ||
      req.url ~ "^/radioactivity_node.php$") {
       return (pass);
  }

  if (req.http.Cookie) {
    if (req.url ~ "\.(png|gif|jpg|svg|tif|tiff|ico|swf|css|js|pdf|doc|xls|ppt|zip|woff|eot|ttf|bmp|bz2)$") {
      # Static file request do not vary on cookies
      unset req.http.Cookie;
      return (hash);
    }
    elseif (req.http.Cookie ~ "(SESS[a-z0-9]+|SSESS[a-z0-9]+)") {
      # Authenticated users should not be cached
      return (pass);
    }
    {% if varnish.extra_cookies is defined %}
    {% for cookie in varnish.extra_cookies %}
    {{ cookie.cookie }}
    {% endfor %}
    {% endif %}
    else {
      # Non-authenticated requests do not vary on cookies
      unset req.http.Cookie;
    }
  }

  if (req.http.Accept-Encoding) {
    if (req.url ~ "\.(jpg|png|gif|svg|tif|tiff|ico|gz|tgz|bz2|tbz|mp3|ogg|swf|zip|pdf|woff|eot|ttf)(\?.*)?$") {
        # No point in compressing these
        unset req.http.Accept-Encoding;
    } elsif (req.http.Accept-Encoding ~ "gzip") {
        set req.http.Accept-Encoding = "gzip";
    } elsif (req.http.Accept-Encoding ~ "deflate") {
        set req.http.Accept-Encoding = "deflate";
    } else {
        # unkown algorithm
        unset req.http.Accept-Encoding;
    }
  }

  // Keep multiple cache objects to a minimum
  # -> NOT. We dont Vary cache per these headers.
  #unset req.http.Accept-Language;
  #unset req.http.user-agent;

  if (req.http.host == "docs.local.ansibleref.com") {
    return (pass);
  }

  # Large static files are delivered directly to the end-user without
  # waiting for Varnish to fully read the file first.
  # Varnish 4 fully supports Streaming, so set do_stream in vcl_backend_response()
  if (req.url ~ "^[^?]*\.(mp[34]|rar|tar|tgz|gz|wav|zip|bz2|xz|7z|avi|mov|ogm|mpe?g|mk[av]|webm)(\?.*)?$") {
    unset req.http.Cookie;
    return (hash);
  }

  # Send Surrogate-Capability headers to announce ESI support to backend
  set req.http.Surrogate-Capability = "key=ESI/1.0";

  if (req.http.Authorization) {
    # Not cacheable by default
    return (pass);
  }


  {% if varnish.recv_conditions is defined %}

  # Conditions specified by variables:
  {% for condition in varnish.recv_conditions %}
  if ({{ condition.property }} {{ condition.operator }} "{{ condition.value }}") {
     {{ condition.action }}
  }

  {% endfor %}
  {% endif %}

  return (hash);
}

sub vcl_pipe {
  # Called upon entering pipe mode.
  # In this mode, the request is passed on to the backend, and any further data from both the client
  # and backend is passed on unaltered until either end closes the connection. Basically, Varnish will
  # degrade into a simple TCP proxy, shuffling bytes back and forth. For a connection in pipe mode,
  # no other VCL subroutine will ever get called after vcl_pipe.

  # Note that only the first request to the backend will have
  # X-Forwarded-For set.  If you use X-Forwarded-For and want to
  # have it set for all requests, make sure to have:
  # set bereq.http.connection = "close";
  # here.  It is not set by default as it might break some broken web
  # applications, like IIS with NTLM authentication.
  set bereq.http.Connection = "Close";

  # Implementing websocket support (https://www.varnish-cache.org/docs/4.0/users-guide/vcl-example-websockets.html)
  if (req.http.upgrade) {
    set bereq.http.upgrade = req.http.upgrade;
  }

  return (pipe);
}

sub vcl_pass {
  # Called upon entering pass mode. In this mode, the request is passed on to the backend, and the
  # backend's response is passed on to the client, but is not entered into the cache. Subsequent
  # requests submitted over the same client connection are handled normally.

  # return (pass);
}

# The data on which the hashing will take place
sub vcl_hash {
  # Called after vcl_recv to create a hash value for the request. This is used as a key
  # to look up the object in Varnish.

  hash_data(req.url);

  if (req.http.host) {
    hash_data(req.http.host);
  } else {
    hash_data(server.ip);
  }

  # Make sure HTTPS request (X-Forwarded-Proto=https) are cached separately
  hash_data(req.http.X-Forwarded-Proto);

  {% if varnish.extra_hash is defined %}
  {% for hash in varnish.extra_hash %}
  {{ hash.hash }}
  {% endfor %}
  {% endif %}

  # hash cookies for requests that have them
  if (req.http.Cookie) {
    hash_data(req.http.Cookie);
  }
}

sub vcl_hit {
  # Called when a cache lookup is successful.

  if (obj.ttl >= 0s) {
    # A pure unadultered hit, deliver it
    return (deliver);
  }

  # https://www.varnish-cache.org/docs/trunk/users-guide/vcl-grace.html
  # When several clients are requesting the same page Varnish will send one request to the backend and place the others on hold while fetching one copy from the backend. In some products this is called request coalescing and Varnish does this automatically.
  # If you are serving thousands of hits per second the queue of waiting requests can get huge. There are two potential problems - one is a thundering herd problem - suddenly releasing a thousand threads to serve content might send the load sky high. Secondly - nobody likes to wait. To deal with this we can instruct Varnish to keep the objects in cache beyond their TTL and to serve the waiting requests somewhat stale content.

  # We have no fresh fish. Lets look at the stale ones.
  if (std.healthy(req.backend_hint)) {
    # Backend is healthy. Limit age to 10s.
    if (obj.ttl + 10s > 0s) {
      #set req.http.grace = "normal(limited)";
      return (deliver);
    } else {
      # No candidate for grace. Fetch a fresh object.
      return(fetch);
    }
  } else {
    # backend is sick - use full grace
      if (obj.ttl + obj.grace > 0s) {
      #set req.http.grace = "full";
      return (deliver);
    } else {
      # no graced object.
      return (fetch);
    }
  }

  # fetch & deliver once we get the result
  return (fetch); # Dead code, keep as a safeguard
}

sub vcl_miss {
  # Called after a cache lookup if the requested document was not found in the cache. Its purpose
  # is to decide whether or not to attempt to retrieve the document from the backend, and which
  # backend to use.

  return (fetch);
}

# Handle the HTTP request coming from our backend
sub vcl_backend_response {
  # Called after the response headers has been successfully retrieved from the backend.

  # Pause ESI request and remove Surrogate-Control header
  if (beresp.http.Surrogate-Control ~ "ESI/1.0") {
    unset beresp.http.Surrogate-Control;
    set beresp.do_esi = true;
  }

  # Store the request url in cached item
  # See "Smart banning" https://www.varnish-software.com/static/book/Cache_invalidation.html
  set beresp.http.x-url = bereq.url;
  set beresp.http.x-host = bereq.http.host;

  # gzip is by default on for (easily) compressable transfer types
  if (beresp.http.content-type ~ "text/html" || beresp.http.content-type ~ "css" || beresp.http.content-type ~ "javascript") {
    set beresp.do_gzip = true;
  }

  # If Drupal page cache is enabled, it will send a X-Drupal-Cache header, and for anonymous "Cache-Control: public, max-age=x."-headers.
  # In those cases, Varnish normally  uses the max-age value directly for do determine how long it is cached (ttl).
  # We can set the TTL for all content to 12h. Lets do it only if Varnish already thinks it is cacheable, and not a page-cache-item.
  if(beresp.status == 200 && beresp.ttl > 0s && !beresp.http.X-Drupal-Cache){
    # Default TTL for all content is 10m
    set beresp.ttl = 10m;
    set beresp.http.x-ttl = "10m";
  }

  if (bereq.url ~ "\/\/[^\?]*\.(jpg|jpeg|gif|png|svg|ico|css|zip|tgz|gz|rar|bz2|pdf|txt|tar|wav|bmp|rtf|flv|swf|html|htm|otf).*$") {
    # Strip any cookies before static files are inserted into cache.
    unset beresp.http.set-cookie;
    if(beresp.status == 200){
      set beresp.ttl = 7d;
      set beresp.http.isstatic = "1";
    } else{
      # Dont cache broken images etc for more than 30s, and not at all clientside.
      set beresp.ttl = 30s;
      set beresp.http.Cache-control = "max-age=0, must-revalidate";
    }
  }

  # Large static files are delivered directly to the end-user without
  # waiting for Varnish to fully read the file first.
  # Varnish 4 fully supports Streaming, so use streaming here to avoid locking.
  if (bereq.url ~ "\/\/[^\?]*\.(mp[34]|rar|tar|tgz|gz|pdf|wav|zip|bz2|xz|7z|avi|mov|ogm|mpe?g|mk[av]|webm).*$") {
    unset beresp.http.set-cookie;
    set beresp.do_stream = true;  # Check memory usage it'll grow in fetch_chunksize blocks (128k by default) if the backend doesn't send a Content-Length header, so only enable it for big objects
    set beresp.do_gzip = false;   # Don't try to compress it for storage
  }

  if (beresp.status == 404) {
    if (beresp.http.isstatic) {
      /*
       * 404s for static files might include profile data since they're actually Drupal pages.
       * See sites/default/settings.php for how 404s are implemented "the fast way"
       */
      set beresp.ttl = 0s;
    }
  }

  // Making theme development a bit faster on local envs.
  if (bereq.url ~ "\.(css|js)\??.*$" && bereq.http.host ~ "^local") {
    set beresp.ttl = 0s;
    set beresp.http.X-Noncached-Static = 1;
    set beresp.http.Cache-control = "no-cache, max-age=0, must-revalidate";
  }

  if(beresp.status >= 500){
    // Cache (public) internal errors, but for only 1s. Never cache client side.
    set beresp.ttl = 1s;
    set beresp.http.Cache-control = "no-cache, max-age=0, must-revalidate";
  }

  # Allow items to be stale if needed.
  set beresp.grace = 2h;

{% if varnish.vcl_backend_response_append_block is defined %}
{{ varnish.vcl_backend_response_append_block }}
{% endif %}

  return (deliver);
}

sub vcl_backend_error {
  return(retry);
}


# The routine when we deliver the HTTP request to the user
# Last chance to modify headers that are sent to the client
sub vcl_deliver {
  # Called before a cached object is delivered to the client.

  if (obj.hits > 0) { # Add debug header to see if it's a HIT/MISS and the number of hits, disable when not needed
    set resp.http.X-W-Cache = "HIT";
  } else {
    set resp.http.X-W-Cache = "MISS";
  }

  # Please note that obj.hits behaviour changed in 4.0, now it counts per objecthead, not per object
  # and obj.hits may not be reset in some cases where bans are in use. See bug 1492 for details.
  # So take hits with a grain of salt
  set resp.http.X-W-Cache-Hits = obj.hits;

  # Remove some headers: PHP version
  unset resp.http.X-Powered-By;

  # Remove some headers: Apache version & OS
  unset resp.http.Server;
  unset resp.http.X-Varnish;
  unset resp.http.Via;
  unset resp.http.Link;
  unset resp.http.X-Generator;
  unset resp.http.X-Proxy;
  unset resp.http.X-Powered-By;
  unset resp.http.x-do-esi;
  unset resp.http.X-Forced-Gzip;

  # deliver can return synth, but we must avoid a potential loop.
  # This GET-param can be used to see the real backend error:
  # error-debug=randomvar (used for convenient debugging).
  if(resp.status >= 500 && req.url !~ "error-debug=randomvar"){
    return (synth(resp.status, "Internal Error"));
  }

  # Remove the request url from the cached item's headers
  # See "Smart banning" https://www.varnish-software.com/static/book/Cache_invalidation.html
  unset resp.http.x-url;
  unset resp.http.x-host;

  # Comment these for easier Drupal cache tag debugging in development.
  unset resp.http.cache-tags;
  unset resp.http.X-Drupal-Cache-Tags;
  unset resp.http.X-Drupal-Cache-Contexts;

  return (deliver);
}

sub vcl_purge {
  # Only handle actual PURGE HTTP methods, everything else is discarded
  if (req.method != "PURGE") {
    # restart request
    set req.http.X-Purge = "Yes";
    return(restart);
  }
}

sub vcl_synth {
  if (resp.status == 720) {
    # We use this special error status 720 to force redirects with 301 (permanent) redirects
    # To use this, call the following from anywhere in vcl_recv: return (synth(720, "http://host/new.html"));
    set resp.http.Location = resp.reason;
    set resp.status = 301;
    return (deliver);
  } elseif (resp.status == 721) {
    # And we use error status 721 to force redirects with a 302 (temporary) redirect
    # To use this, call the following from anywhere in vcl_recv: return (synth(720, "http://host/new.html"));
    set resp.http.Location = resp.reason;
    set resp.status = 302;
    return (deliver);
  } elseif (resp.status == 722) {
    # Use special error status when hotlinking to resource is forbidden.
    # This is used in hotlink sub

    # Do no cache
    set resp.http.Cache-control = "max-age=0, must-revalidate";
    set resp.status = 403;
    return (deliver);
  } elseif(resp.status >= 500) {
      {% if varnish.custom_error_template is defined %}
      {{ varnish.custom_error_template }}
      {% else %}
      // Custom error
      set resp.http.Cache-Control = "{{ varnish.error_header_cache_control | default('no-cache, max-age: 0, must-revalidate') }}";
      set resp.http.x-sitename = "{{ varnish.error_header_x_site_name | default('insert_sitename') }}";
      set resp.http.x-sitetitle = "{{ varnish.error_header_x_sitetitle | default('insert_site_title') }}";
      set resp.http.x-ua = "{{ varnish.error_header_x_ua  | default('insert_GA_code')}}";

      synthetic( {"
        <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css"> 
        body{background-color:#fff;font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;text-align:right;color:#d2d3d7}
        #error-box{background:url("data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==") 
        no-repeat right bottom;height:600px;width:950px;margin:auto;display:block;float:none;position:relative}
        #error-message{display:block;float:left;width:55%;margin-top:150px;font-size:.9em;line-height:1.2em}
        </style>
        <title>"} + resp.http.x-sitetitle + {" - Error loading the page</title>

        </head>

        <body>
          <div id="error-box">
            &nbsp
            <div id="error-message">
              <h1>Our best people are on the case!</h1>
              <h2>Please check back shortly</h2>
              <h3>Error loading the page</h3>
            </div>
          </div>

          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '"} + resp.http.x-ua + {"']); _gaq.push(['_trackPageview']);
            _gaq.push(['_trackEvent', 'Errors', '"} + resp.status + {"', '"} + req.method + {" "']);
            (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
          </script>
          <!--"} + resp.status + {"-->

        </body>
        </html>
      "} );
      {% endif %}
      return (deliver);
    }

  return (deliver);
}

sub vcl_fini {
  # Called when VCL is discarded only after all requests have exited the VCL.
  # Typically used to clean up VMODs.

  return (ok);
}

{% if varnish.hotlink_forbidden %}
sub hotlink {
  # Prevent hotlinking of files. Called optionally from vcl_recv if hotlinking is forbidden.

  if ((
    {% for director in varnish.directors %}
    req.http.host == "{{ director.host }}" {% if not loop.last %} || {% endif %}
    {% endfor %}) &&
    req.url ~ "^/sites/default/files/" &&
    req.url ~ "\.({{ varnish.hotlink_filetype_pattern }})(\?.*)?$"
  ) {
    # Only allow if referer is from one of our host.
    if (
      {% if varnish.hotlink_allow_no_referer %}
      req.http.referer &&
      {% endif %}
      !(
      {% for director in varnish.directors %}
      req.http.referer ~ "^(http|https)://{{ director.host}}" {% if not loop.last %} || {% endif %}
      {% endfor %}
      )
    ) {
      return (synth(722, "Not allowed."));
    }
  }
}
{% endif %}
