################################################################################
# This file is provisioned automatically - you have been warned :)
################################################################################

PORT="{{ memcached_port }}"
USER="memcached"
MAXCONN="{{ memcached_maxconn }}"
CACHESIZE="{{ memcached_cachesize }}"
OPTIONS="{{ memcached_options }}"
